.bloc{
    flex-direction: column;
    height: auto;
    width: 600px;
    padding: 20px;
}
.text4{
    flex-direction: column;
}
.promo1{
    height: 100vh;
}
.knopka{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
}
.rig{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.di1 input{
    width:100%;
    margin-top: 10px;
}
.nazat{
    background-color: #383e48;
    width: 200px;
    height: 90px;
    border-radius: 30px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
}
.di2{
    margin-top: 5px;
}

.di1 p{
    font-size: 25px;
    font-weight: 700;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
  color: #df9e03;
  
}
@media ( max-width: 700px){
    .bloc{
        width: 90%;margin: 10px;
    }
    button{
        margin: 0 5px;
    }
    html{
        overflow-y: hidden;
    }
}