.promo1{
    height: 100vh;
}
.text4{
    flex-direction: column;
}
.bloc{
    flex-direction: column;
    height: auto;
    width: 600px;
    padding: 20px;
}
.nazat{
    background-color: #383e48;
    width: 200px;
    height: 90px;
    border-radius: 30px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
}
 .rig a{
    color: white;
    text-decoration: none;
    
}
.di1 p{
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
}
.di1 input{
    width: 100%;
    margin-top: 10px;
}

.knopka a{
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
}
.rig{
    display: flex;
    justify-content: space-around;
}
a:hover{
    color: #df9e03;
    
  }
  @media(max-width: 700px){
      .bloc{
          width: 90%;
      }
      a{
          font-size: 20px;
          text-align: center;
      }
       button{
           margin: 0 5px  ;
       }
       html{
        overflow-y: hidden;

  }